[unix_http_server]
file={{ .Env.BGMI_HOME }}/supervisor.sock
chmod=0700
[supervisord]
nodaemon=true
childlogdir=/bgmi/log/supervisor
logfile={{ .Env.BGMI_HOME }}/supervisord.log
pidfile={{ .Env.BGMI_HOME }}/supervisord.pid
user=root
[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface
[supervisorctl]
serverurl=unix://{{ .Env.BGMI_HOME }}/supervisor.sock

[group:bgmi]
programs=bgmi_http,nginx,crond

[program:bgmi_http]
command=bgmi_http --port=8888 --address=0.0.0.0
user=bgmi
autorestart=true
stdout_logfile=/bgmi/log/bgmi_http.log
redirect_stderr=true

[program:nginx]
command=nginx -g "daemon off;"
autorestart=true
stdout_logfile=/bgmi/log/nginx_out.log
redirect_stderr=true

[program:crond]
command=crond -f
autorestart=true
stdout_logfile=/bgmi/log/crond.log
redirect_stderr=true