server {
    listen 80 default_server;
    server_name _;
    root /bgmi/;
    autoindex on;
    charset utf-8;

    location = /bangumi {
        return 301 $scheme://$http_host/bangumi/;
    }

    location /bangumi {
        alias {{ .Env.DOWNLOAD_DIR }};
    }

    location /api {
        proxy_pass http://127.0.0.1:8888;
    }

    location /resource {
        proxy_pass http://127.0.0.1:8888;
    }

    location /file {
        proxy_pass http://127.0.0.1:8098;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    location / {
        alias /bgmi/conf/bgmi/front_static/;
    }
{{ .Env.NGINX_PARAMETER }}
}
