name: Test image

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - 
        name: Checkout
        uses: actions/checkout@v5

      - 
        name: Set Version
        id: set-version
        run: |
          BGMI_VERSION=$(jq -r '.BGmi.version' info.json)
          TRANSMISSION_WEB_HOME=$(jq -r '.Transmission.web_home' info.json)

          echo "BGMI_VERSION=${BGMI_VERSION}"
          echo "TRANSMISSION_WEB_HOME=${TRANSMISSION_WEB_HOME}"
          
          echo "BGMI_VERSION=${BGMI_VERSION}" >> $GITHUB_OUTPUT
          echo "TRANSMISSION_WEB_HOME=${TRANSMISSION_WEB_HOME}" >> $GITHUB_OUTPUT

      - 
        name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ secrets.DOCKER_USERNAME }}/bgmi-all-in-one
          tags: |
            type=raw,value=test

      - 
        name: Set Up QEMU
        uses: docker/setup-qemu-action@v3

      - 
        name: Set Up Buildx
        uses: docker/setup-buildx-action@v3

      - 
        name: BGmi
        uses: docker/build-push-action@v6
        with:
          context: .
          file: test.Dockerfile
          platforms: |
            linux/amd64
          push: false
          build-args: |
            BGMI_VERSION=${{ steps.set-version.outputs.BGMI_VERSION }}
            TRANSMISSION_WEB_HOME=${{ steps.set-version.outputs.TRANSMISSION_WEB_HOME }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}